.header {
  composes: border from "./Globals.module.css";
  composes: flex-space from "./Globals.module.css";
  composes: dark-background from "./Globals.module.css";
  padding: 0 1rem;
}
.heading {
  font-size: 24px;
}
.link {
  padding: 0 0.5rem;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
}